* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(167,105,187);
}

.contenedor {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    border-radius: 25px;
    overflow-y: scroll;
}

.contenedor::-webkit-scrollbar {
    width: 0;
}

.contenedor__cancion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px;
    position: relative;
    margin-bottom: 3%;
    overflow: hidden;
    height: 450px;
}

.contenedor__contImg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor__img {
    width: 100%;
}

.audio {
    width: 98%;
    bottom: 1%;
}

.contenedor__h2, .contenedor__h2a {
    font-size: 1.3em;
    text-align: center;
}

.contenedor__h2a {
    font-size: 2em;
}

.contenedor__h3 {
    position: absolute;
    font-size: 2em;
    bottom: 42%;
    z-index: 1;
}

#video {
    position: fixed;
    z-index: 1;
    width: 30%;
    height: 400px;
    min-height: 225px;
    background-color: black;
    left: 5%;
}

#video > iframe {
    width: 100%;
    height: 100%;
}

.contenedor__panelcontrolAudio {
    display: flex;
    width: 100%;
}

.audioActionBtn {
    width: 10%;
    cursor: pointer;
}

@media (max-width: 1440px) {
    .contenedor {
        grid-template-columns: repeat(3,1fr);
        
    }

    #video {
        width: 50%;
        height: 400px;
    }

}

@media (max-width: 1000px) {
    .contenedor {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 600px) {
    .contenedor {
        grid-template-columns: 1fr;
    }

    .contenedor_h2 {
        font-size: 1.5em;
    }

    #video {
        width: 90%;
        height: 400px;
    }
}
